<div>
    <a href = "https://www.instagram.com/matias_sillen/" target="_blank">
        <i class=" fa fa-brands fa-instagram fa-fade"></i>
    </a>
    <a href = "https://github.com/matiassillen" target="_blank">
        <i class="fa fa-brands fa-github fa-fade"></i>
    </a>
    <a href = "https://mail.google.com/mail/?view=cm&source=mailto&to=matias.sillen@gmail.com" target="_blank">
        <i class="fa fa-sharp fa-regular fa-envelope fa-fade"></i>
    </a>
    <button id="button-login" class="btn btn-primary" type="button" 
    (click)="login()" *ngIf="!isLogged">Iniciar Seción</button>
    <button id="button-login" class="btn btn-primary" type="button" 
    (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
</div>