.row {
    background-color: rgb(29, 29, 31);
    color: white;
    margin: 0;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.p-1, .p-2 {
    background-color: rgb(43, 43, 46) ;
    display: inline-block;
    border-radius: 16px;
}

