<div class="card mat-card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <div id="pen2" class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Me gusta el desarrollo web, el automovilismo, en especial la formula 1, escuchar musica, ver peliculas, andar en bicicleta, etc.</p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
    </div>
</div>
