.row {
    background-color: rgb(21, 21, 66);
    color: white;
    padding: 20px;
    margin: 0;
}

h1, h3 {
    display: inline;
}

#boton {
    margin-top: 10px;
    margin-bottom: 10px;
}

#agregar {
    border-radius: 100%;
    background-color: darkcyan;
}

#editar {
    background-color: rgb(29, 192, 29);
    border-color: rgb(29, 192, 29);
    border-radius: 100%;
    margin-bottom: 5px;
}


#borrar {
    border-radius: 100%;
}