<div class="card mat-card">
    <div class="card-titles">
        <h2>Educación</h2>
        <div class="info-details"> 
            <div id="add" class="btn-edit"><a href="#" class="btn-right"><i class=" fa fa-solid fa-plus fa-fade"></i></a></div>
            <div class="box1">
                <img id="img1" src="/assets/images/logo-argentinaprograma.webp" alt="Logo Argentina Programa">
                <div class="box">
                    <h3>Argentina Programa</h3>
                    <p>2022 - Presente</p>
                </div>
                <div id="edit1" class="btn-edit">
                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                </div>
            </div>
            <div class="box2">
                <img id="img2" src="/assets/images/logo-uner.webp" alt="Logo UNER">
                <div class="box">
                    <h3>Facultdad de ciencias de la administración (UNER)</h3>
                    <p>2021 - Presente</p>
                </div>
                <div id="edit2" class="btn-edit">
                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                </div>
            </div>  
            <div class="box3">
                <img id="img3" src="/assets/images/escudo-normal.webp" alt="Escudo de la escuela Normal">
                <div class="box">
                    <h3>Escuela Normal Superior N° 15 Domingo Faustino Sarmiento</h3>
                    <p>2017 - 2020</p>
                </div>
                <div id="edit3" class="btn-edit">
                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                </div>
            </div>
            <div class="box4">
                <img id="img4" src="/assets/images/Escudo-tecnica1.webp" alt="Escudo de la escuela Técnica 1">
                <div class="box">
                    <h3>Escuela De Educación Técnica N°1 "Brig Gral Pascual Echagüe"</h3>
                    <p>2015 - 2016</p>
                </div>
                <div id="edit4" class="btn-edit">
                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                    <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
