.row {
    background-color: rgb(21, 21, 66);
    color: white;
    padding: 20px;
    margin: 0;
}

.contenedor { 
    width: auto;
}

.parte-1, .parte-2 {
    display: inline-block;
    text-align: justify;
}
