<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="cold-sm-12 col-md-7 col-lg-7 parte-1">
            <h2>Proyecto Integrador Portfolio Web Full Stack</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dicta magnam fugit sequi! Repudiandae quae repellat in impedit voluptate. Laboriosam voluptatem possimus, rem nam fugit nulla in. Hic, itaque nemo?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte-2">
            <img  class="img-fluid" src="../../../assets/images/logo-argentinaprograma.webp" alt="">
        </div>
    </div>
</div>