<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="cold-sm-12 col-md-7 col-lg-7 parte-1">
            <h2>Proyecto Integrador Portfolio Web Full Stack</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt dicta magnam fugit sequi! Repudiandae quae repellat in impedit voluptate. Laboriosam voluptatem possimus, rem nam fugit nulla in. Hic, itaque nemo?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte-2">
            <img  class="img-fluid" src="../../../assets/images/logo-argentinaprograma.webp" alt="">
        </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyec">
                    <td>
                        <h2>{{Proyecto.nombreP}}</h2>
                    </td>
                    <td>{{Proyecto.descripcionP}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                            <i class="fa fa-pen"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="fa fa-solid fa-trash"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>