<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte-2">

        </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newproyecto" *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyec">
                    <td>
                        <h2>{{Proyecto.nombreP}}</h2>
                    </td>
                    <td>{{Proyecto.descripcionP}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                            <i class="fa fa-pen"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="fa fa-solid fa-trash"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>