<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src="/assets/images/Binario.gif" alt="imagen de portada"></div>
    <div id="info">
        <div id="info-img">
            <img class ="profile-image" src="/assets/images/perfil.webp" alt="imagen de perfil">
            <div id="pen1" class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
        <div id="info-data">
            <div>
                <h2>Matías Sillen Ríos</h2>
                <div id="info-study">Estudiante de la carrera Licenciatura en Sistemas en la facultdad de ciencias de la administración (UNER)</div>
                <div id="info-contact">
                    <span>Concordia, Entre Ríos (Argentina)</span>
                    <span><a href="#">Información de contacto</a></span>
                </div>
            </div>
        </div>
        <div id="info-actions">
            <button id="button1" type="button" class="btn btn-primary">Tengo interés en</button>
            <button id="button2" type="button" class="btn btn-light">Añadir Sección</button>
            <button id="button3" type="button" class="btn btn-light">Más</button>
        </div>
    </div>
</div>