<div class="row">
    <h1>Experiencia laboral</h1>
    <div id="boton">
        <button id="agregar" type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="fa fa-solid fa-plus fa-fade"></i>
        </button>
    </div >

    <div *ngFor="let Experiencia of expe">
        <h2>{{Experiencia.nombreE}}</h2>
        <p>{{Experiencia.descripcionE}}</p>
        <div *ngIf="isLogged">
            <button id="editar" class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}">
                <i class="fa fa-pen"></i></button>
        </div>
        <div *ngIf="isLogged">
            <button id="borrar" class="btn btn-danger" (click)="delete(Experiencia.id)">
            <i class="fa fa-solid fa-trash"></i></button>
        </div>
    </div>
</div>
