<body>
    <header class="header">
        <nav class="menu">
            <h1 id="title">Matías Sillen Ríos</h1>
            <div id="items-header">
                <a href="#"><i id="logo-instagram"class=" fa fa-brands fa-instagram fa-fade"></i></a>
                <a href="#"><i id="logo-email" class="fa fa-solid fa-envelope"></i></a>
                <button id="button-login" class="btn btn-light" type="button">Login</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="card mat-card" id="first-card">
            <div id="profile-background"><img src="/assets/images/Binario.gif" alt="imagen de portada"></div>
            <div id="info">
                <div id="info-img">
                    <img class ="profile-image" src="/assets/images/perfil.webp" alt="imagen de perfil">
                    <div id="pen1" class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
                </div>
                <div id="info-data">
                    <div>
                        <h2>Matías Sillen Ríos</h2>
                        <div id="info-study">Estudiante de la carrera Licenciatura en Sistemas en la facultdad de ciencias de la administración (UNER)</div>
                        <div id="info-contact">
                            <span>Concordia, Entre Ríos (Argentina)</span>
                            <span><a href="#">Información de contacto</a></span>
                        </div>
                    </div>
                </div>
                <div id="info-actions">
                    <button id="button1" type="button" class="btn btn-primary">Tengo interés en</button>
                    <button id="button2" type="button" class="btn btn-light">Añadir Sección</button>
                    <button id="button3" type="button" class="btn btn-light">Más</button>
                </div>
            </div>
        </div>
        <div class="card mat-card">
            <div class="card-titles">
                <h2>Acerca de</h2>
                <div id="pen2" class="btn-edit" onclick="cambiar_parrafo()">
                    <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                </div>
            </div>
            <div>
                <p id="text-acercade">Me gusta el desarrollo web, el automovilismo, en especial la formula 1, escuchar musica, ver peliculas, andar en bicicleta, etc.</p>
            </div>
            <div>
                <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
            </div>
        </div>
        <div class="card mat-card">
            <div class="card-titles">
                <h2>Educación</h2>
                <div class="info-details"> 
                    <div id="add" class="btn-edit"><a href="#" class="btn-right"><i class=" fa fa-solid fa-plus fa-fade"></i></a></div>
                    <div class="box1">
                        <img id="img1" src="/assets/images/logo-argentinaprograma.webp" alt="Logo Argentina Programa">
                        <div class="box">
                            <h3>Argentina Programa</h3>
                            <p>2022 - Presente</p>
                        </div>
                        <div id="edit1" class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="box2">
                        <img id="img2" src="/assets/images/logo-uner.webp" alt="Logo UNER">
                        <div class="box">
                            <h3>Facultdad de ciencias de la administración (UNER)</h3>
                            <p>2021 - Presente</p>
                        </div>
                        <div id="edit2" class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                        </div>
                    </div>  
                    <div class="box3">
                        <img id="img3" src="/assets/images/escudo-normal.webp" alt="Escudo de la escuela Normal">
                        <div class="box">
                            <h3>Escuela Normal Superior N° 15 Domingo Faustino Sarmiento</h3>
                            <p>2017 - 2020</p>
                        </div>
                        <div id="edit3" class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="box4">
                        <img id="img4" src="/assets/images/Escudo-tecnica1.webp" alt="Escudo de la escuela Técnica 1">
                        <div class="box">
                            <h3>Escuela De Educación Técnica N°1 "Brig Gral Pascual Echagüe"</h3>
                            <p>2015 - 2016</p>
                        </div>
                        <div id="edit4" class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a class="eliminate" href="#"><i class="fa fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
    gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
</body>